<h2>This is an Angular Grid</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mygrid">
  <ng-container matColumnDef="x">
    <th mat-header-cell *matHeaderCellDef>X</th>
    <td mat-cell *matCellDef="let element">{{ element.x }}</td>
  </ng-container>
  <ng-container matColumnDef="y">
      <th mat-header-cell *matHeaderCellDef>Y</th>
      <td mat-cell *matCellDef="let element">{{ element.y }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mypaginator"></mat-paginator>

<!-- <div class="widget-container">
  <div class="content">
    <h1>Hello, {{name}}.</h1>
    <input *ngIf="!focusSet" type="text" #userFocus (keydown.enter)="setFocus(userFocus.value)" placeholder="What's your focus today?" />
    <div *ngIf="focusSet" class="focus">
      <p>Your main focus today is:</p>
      <p>{{focus}}</p>
    </div>
  </div>
</div> -->